altgraph==0.17.4 ; python_version >= "3.9" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation != "PyPy"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
contourpy==1.2.1 ; python_version >= "3.9" and python_version < "3.13"
cryptography==43.0.0 ; python_version >= "3.9" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.13"
fonttools==4.53.1 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==8.2.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "darwin"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.13"
matplotlib==3.9.1 ; python_version >= "3.9" and python_version < "3.13"
mpld3==0.5.10 ; python_version >= "3.9" and python_version < "3.13"
nltk==3.8.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==2.0.1 ; python_version >= "3.9" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.9" and python_version < "3.13"
pandas==2.2.2 ; python_version >= "3.9" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "win32"
pillow==10.4.0 ; python_version >= "3.9" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation != "PyPy"
pyinstaller-hooks-contrib==2024.7 ; python_version >= "3.9" and python_version < "3.13"
pyinstaller==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
pyparsing==3.1.2 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "win32"
regex==2024.7.24 ; python_version >= "3.9" and python_version < "3.13"
setuptools==71.1.0 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
tqdm==4.66.4 ; python_version >= "3.9" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.19.2 ; python_version >= "3.9" and python_version < "3.10"
